@mixin font {
  color: rgba(108, 108, 108, 1);
  font-size: 0.7856rem;
  font-weight: 700;
  line-height: 1rem;
}

.container {
  height: calc(100svh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .backButtonContainer {
    top: 103px;
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 17px;

    .backButton {
      @include font;
    }
  }

  .periodContainer {
    @include font;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;

    .underline {
      padding-bottom: 5px;
    }

    .underline[aria-selected=true] {
      color: rgba(61, 57, 234, 1);
      border-bottom: solid 2px rgba(61, 57, 234, 1);
    }
  }

  .pointContainer {
    @include font;
    bottom: 100px;
    left: 43.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
  }

  .pointContainerOfYear {
    left: 68%;
  }

  .realTimeArea {
    width: 100%;
    height: 100%;
    margin-top: 32px;
    overflow-y: scroll;

    .realTimeAreaGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 100px;
      row-gap: 40px;
      column-gap: 12px;
      padding: 12px;

      .RealTimeCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: 3px 0 4px rgba(0, 0, 0, 0.25);

        .RealTimeCardTitle, .RealTimeCardUnit {
          @include font;
          color: rgba(91, 91, 91, 1);
        }

        .RealTimeCardValue {
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 3.75rem;
          color: rgba(91, 91, 91, 1);
        }

        .chevronRightIcon {
          right: 8px;
          transform: rotate(180deg);

          img {
            width: 7px;
          }
        }
      }
    }
  }
}
