.mapArea {
  height: calc(100svh - 93px - 81px);
  position: relative;
}

.searchboxArea {
  position: absolute;
  z-index: 2;
  height: 45px;
  width: 100%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchboxArea > label {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchboxArea > label > input {
  background-color: rgb(65, 65, 65) !important;
  color: white;
  height: 100%;
  width: 90%;
  border-radius: 3rem;
  border: none;
  padding: 0 48px;
  font-size: 16px;
}

.searchboxArea > label > input:focus {
  outline: none;
}

.searchboxX {
  position: absolute;
  top: 11px;
  right: calc(5% + 12px);
  cursor: pointer;
}
