.mapArea {
  height: calc(100svh - 93px - 81px);
}

.searchBoxArea {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  margin-top: 8px;
}

.searchBoxArea > label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.searchBoxArea > label > input {
  width: 90%;
  height: 100%;
  padding: 0 48px;
  border: none;
  border-radius: 3rem;
  background-color: rgb(65, 65, 65) !important;
  color: white;
  font-size: 1rem;
}

.searchBoxArea > label > input:focus {
  outline: none;
}

.searchBoxX {
  top: 11px;
  right: calc(5% + 12px);
  cursor: pointer;
}
