@mixin font {
  color: rgba(108, 108, 108, 1);
  font-size: 0.7856rem;
  font-weight: 700;
  line-height: 1rem;
}

.container {
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;

  .backButtonContainer {
    top: 103px;
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 17px;

    .backButton {
      @include font;
    }
  }

  .periodContainer {
    @include font;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;

    .underline {
      padding-bottom: 5px;
    }

    .underline[aria-selected=true] {
      color: rgba(61, 57, 234, 1);
      border-bottom: solid 2px rgba(61, 57, 234, 1);
    }
  }

  .pointContainer {
    @include font;
    bottom: 118px;
    left: 43.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
  }

  .pointContainerOfYear {
    left: 69.5%;
  }
}
