@mixin afterItemStyle {
  position: absolute;
  bottom: 4px;
  right: 13px;
  font-size: 0.75rem;
}

.sideBar {
  left: -46%;
  width: 23%;
  height: calc(100vh - 95px);
  padding: 50px 8px 25px 8px;
  border-radius: 0 20px 20px 0;
  box-shadow: 5.5px 0 10.2px rgba(0, 0, 0, 0.25);
  background-color: white;
  transition: 1s all;

  .sideBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .itemContainer {
      color: rgba(153, 153, 153, 1);
      font-weight: 400;
      letter-spacing: 0.015625rem;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 53px;
        border-radius: 10px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        font-size: 1.125rem;
      }

      .temperature {
        &:after {
          @include afterItemStyle;
          content: "℃";
        }
      }

      .mileage {
        &:after {
          @include afterItemStyle;
          content: "km";
        }
      }

      .speed {
        &:after {
          @include afterItemStyle;
          content: "km/h";
        }
      }

      .oilStains {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 140px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 3px 0 5px 10px white, 15px 0 15px 0 rgba(0, 0, 0, 0.5);

        div {
          color: black;
          font-size: 2.2125rem;
          font-weight: 700;

          span {
            font-size: 0.9375rem;
          }
        }

        .oilStainsNum {
          position: relative;
          top: 28%;
        }

        &:after {
          position: absolute;
          bottom: 0;
          width: 100%;
          content: "OIL汚れ";
          color: black;
          font-size: 0.9375rem;
          font-weight: 700;
        }
      }

      .itemName {
        margin-top: 10px;
        font-size: 0.75rem;
      }
    }

    .homeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px;
      padding: 4px 0;
      background-color: rgba(61, 57, 234, 1);
      border-radius: 9999px;
      box-shadow: 2px 0 4px rgba(0, 0, 0, 0.25);
      color: white;
    }
  }
}

.slide {
  transform: translateX(200%);
}
