@use "./function/mixin" as *;

.iframeSection {
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  border: none;
}

//.iframeContainer {
//  width: 100%;
//  height: 100%;
//  border: none;
//  display: block;
//}

.iframeContent{
  width: 100%;
  height: 580px;
  //top: 45%;
  //left: 50%;
}